
.startstop
{
	width: 524px;
}

.startstop span
{
	margin-left: 2px;
	margin-right: 2px;

	border: solid 1px black;

	cursor: pointer;

	display: block;
	float: left;
}

.logger
{
	width: 250px;
	height: 524px;

    margin-left: 50px;

	border: solid 1px blue;

	overflow: hidden;
	overflow-y: scroll;

	display: inline-block;
}

#canvas_wrapper
{
	position: relative;
	float: left;

    display: block;
}

#map
{
	clear: both;
	display: block;
	position: absolute;
	z-index: 100;
	margin-top: -524px;
	border: dotted 1px #f00;
}


#heatmap
{
	display: none;
	position: absolute;
	width:524px;height:524px;border:solid 4px red;
	z-index: 100;
	margin-top: -524px;
	border: dotted 1px #f00;
}

#image_map_wrap
{
    width: 524px;
    height: 524px;
    /*overflow: hidden;*/
}

#player
{
    position: relative;
    display: block;

    top: 50px;

    margin-top: 50px;

}
