
.player_body
{
	position: relative;
	width: 202px;
	height: 270px;
	
	overflow: hidden;
}

.head
{
	position: absolute;

	width: 45px;
	height: 41px;

    left: 77px;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	background-image: url('../img/player/body/head.png');
/* 	background-color: red; */
	background-color: rgb(240,233,182);
}

.left_neck
{
	position: absolute;
	
	top: 41px;
	left: -12px;

	width: 100px;
	height: 8px;
	
	background-image: url('../img/player/body/allmodels-v2_5.png');
/* 	background-color: red; */
	background-color: rgb(240,233,182);
}

.neck
{
	position: absolute;
	
	top: 41px;
	left: 88px;
	
	width: 25px;
	height: 8px;
	
	background-image: url('../img/player/body/neck.png');
	/* 	background-color: red; */
	background-color: rgb(240,233,182);
}

.right_neck
{
	position: absolute;
	
	top: 41px;
	left: 113px;
	
	width: 98px;
	height: 8px;
	background-image: url('../img/player/body/allmodels-v2_7.png');
/* 	background-color: red; */
	background-color: rgb(240,233,182);
}

.left_neck_down
{
	position: absolute;
	
	top: 48px;
	left: -11px;
	
	width: 80px;
	height: 6px;
	background-image: url('../img/player/body/allmodels-v2_8.png');
}

.right_neck_down
{
	position: absolute;
	
	top: 49px;
	left: 131px;
	
	width: 78px;
	height: 6px;
	background-image: url('../img/player/body/allmodels-v2_10.png');
}


.arm_left_lower
{
	position: absolute;
	
	top: 67px;
	left: 22px;
	
	width: 28px;
	height: 36px;
	
	background-image: url('../img/player/body/left_arm_lower.png');
}

.arm_left_upper
{
	position: absolute;
	
	top: 54px;
	left: 50px;
	
	width: 19px;
	height: 40px;
	background-image: url('../img/player/body/left_arm_upper.png');
}

.torso_upper
{
	position: absolute;
	
	width: 62px;
	height: 46px;
	
	top: 49px;
	left: 69px;
	
	background-image: url('../img/player/body/torso_upper.png');
	/* 	background-color: red; */
	background-color: rgb(240,233,182);
}

.right_arm_upper
{
	position: absolute;
	
	top: 54px;
	left: 131px;
	
	width: 19px;
	height: 40px;
	background-image: url('../img/player/body/right_arm_upper.png');
}

.right_arm_lower
{
	position: absolute;
	
	top: 68px;
	left: 150px;
	
	width: 28px;
	height: 36px;
	
	background-image: url('../img/player/body/right_arm_lower.png');
}

.left_arm_down
{
	position: absolute;
	
	top: 54px;
	left: 23px;
	
	width: 28px;
	height: 13px;
	
	background-image: url('../img/player/body/allmodels-v2_13.png');
}

.right_arm_down
{
	position: absolute;
	
	top: 54px;
	left: 150px;
	
	width: 29px;
	height: 14px;
	
	background-image: url('../img/player/body/allmodels-v2_16.png');
}

.left_hand
{
	position: absolute;
	
	top: 102px;
	left: 17px;
	
	width: 28px;
	height: 21px;
	
	background-image: url('../img/player/body/left_hand.png');
}

.right_hand
{
	position: absolute;
	
	top: 104px;
	left: 155px;
	
	width: 28px;
	height: 20px;
	
	background-image: url('../img/player/body/right_hand.png');
}

.torso_lower
{
	position: absolute;
	
	top: 94px;
	left: 55px;
	
	width: 87px;
	height: 53px;
	
	background-image: url('../img/player/body/torso_lower.png');
}

.left_leg_upper
{
	position: absolute;
	
	top: 147px;
	left: 61px;
	
	width: 38px;
	height: 34px;
	
	background-image: url('../img/player/body/left_leg_upper.png');
}

.right_leg_upper
{
	position: absolute;
	
	top: 147px;
	left: 99px;
	
	width: 37px;
	height: 34px;
	
	background-image: url('../img/player/body/right_leg_upper.png');
}

.left_leg_lower
{
	position: absolute;
	
	top: 181px;
	left: 61px;
	
	width: 38px;
	height: 34px;
	
	background-image: url('../img/player/body/left_leg_lower.png');
}

.right_leg_lower
{
	position: absolute;
	
	top: 181px;
	left: 99px;
	
	width: 37px;
	height: 34px;
	
	background-image: url('../img/player/body/right_leg_lower.png');
}

.left_foot
{
	position: absolute;
	
	top: 215px;
	left: 61px;
	
	width: 38px;
	height: 54px;
	
	background-image: url('../img/player/body/left_foot.png');
}

.right_foot
{
	position: absolute;
	
	top: 215px;
	left: 99px;
	
	width: 37px;
	height: 54px;
	
	background-image: url('../img/player/body/right_foot.png');
}









.ohead
{
	position: absolute;

	width: 45px;
	height: 41px;

	top: 0px;
	left: 78px;
	
 	background-color: red;
}

.oneck
{
	position: absolute;
	
	top: 41px;
	left: 88px;
	
	width: 25px;
	height: 8px;
	
	background-color: red;
}



.oarm_left_lower
{
	position: absolute;
	
	top: 67px;
	left: 22px;
	
	width: 28px;
	height: 36px;
	
	background-color: red;
	
}

.oarm_left_upper
{
	position: absolute;
	
	top: 54px;
	left: 50px;
	
	width: 19px;
	height: 40px;
	
	background-color: red;
}

.otorso_upper
{
	position: absolute;
	
	width: 62px;
	height: 46px;
	
	top: 49px;
	left: 69px;
	
	background-color: red;

}

.oright_arm_upper
{
	position: absolute;
	
	top: 54px;
	left: 131px;
	
	width: 19px;
	height: 40px;
	
	background-color: red;
}

.oright_arm_lower
{
	position: absolute;
	
	top: 68px;
	left: 150px;
	
	width: 28px;
	height: 36px;

	background-color: red;
}


.oleft_hand
{
	position: absolute;
	
	top: 102px;
	left: 17px;
	
	width: 28px;
	height: 21px;
	
	background-color: red;
}

.oright_hand
{
	position: absolute;
	
	top: 104px;
	left: 155px;
	
	width: 28px;
	height: 20px;
	
	background-color: red;
}

.otorso_lower
{
	position: absolute;
	
	top: 94px;
	left: 55px;
	
	width: 87px;
	height: 53px;
	
	background-color: red;
}

.oleft_leg_upper
{
	position: absolute;
	
	top: 147px;
	left: 61px;
	
	width: 38px;
	height: 34px;
	
	background-color: red;
}

.oright_leg_upper
{
	position: absolute;
	
	top: 147px;
	left: 99px;
	
	width: 37px;
	height: 34px;
	
	background-color: red;
}

.oleft_leg_lower
{
	position: absolute;
	
	top: 181px;
	left: 61px;
	
	width: 38px;
	height: 34px;
	
	background-color: red;
}

.oright_leg_lower
{
	position: absolute;
	
	top: 181px;
	left: 99px;

	width: 37px;
	height: 34px;
	
	background-color: red;
}

.oleft_foot
{
	position: absolute;

	top: 215px;
	left: 61px;
	
	width: 38px;
	height: 54px;
	
	background-color: red;
}

.oright_foot
{
	position: absolute;
	
	top: 215px;
	left: 99px;
	
	width: 37px;
	height: 54px;
	
	background-color: red;
}

.bodyoverlay
{
    position: absolute;

    z-index: 1000;

    width: 100px;
    height: 50px;

    background-color: blue;
}
