.startstop
{
	width: 524px;
}

.startstop span
{
	margin-left: 2px;
	margin-right: 2px;
	
	border: solid 1px black;
	
	cursor: pointer;
	
	display: block;
	float: left;
}

.logger
{
	width: 500px;
	height: 524px;
	
	border: solid 1px blue;
	
	overflow: hidden;
	overflow-y: scroll;
	
	display: inline-block;
}

#canvas_wrapper
{
	float: left;
}

#map
{
	clear: both;
	display: block;
	position: absolute;
	z-index: 100;
	margin-top: -524px;
	border: dotted 1px #f00;
}

#map_image
{
/*
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
*/
/*
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
*/

}