nav
{
	position: fixed;
	top: 0;
	
	width: 100%;
	min-width: 500px;
	min-height: 30px;
	
	display: block;
	
 	background-color: rgb(88, 86, 56);

 	z-index: 1000;
}

#navcontent
{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

nav ul
{
	list-style-type: none;
	margin-top: 6px;
	margin-left: 25px;
}

nav ul li
{
	margin-right: 15px;
	float: left;
}

nav ul li a
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav ul li a:visited
{
	text-decoration: none;
}