
#player_info_wrap
{
	
}

#player_info_list
{
	float: left;
	width: 50%;
}

#player_info_list table
{
	
}

#player_info_list table tr td
{
	width: 50%;
}

#player_info_list table .name
{

}

#player_info_list table .value
{
	text-align: left;
}

#player_info_description
{
	width: 48%;
	margin-left: 2%;
	float: left;
}


.hit_text
{
    text-align: center;
    margin-bottom: 12px;
}

.player_body
{
    margin-left: auto;
    margin-right: auto;
}





