*
{
	padding: 0;
	margin: 0;

	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
}
/* Cod Font: http://www.myfonts.com/fonts/aah-yes/shelflife/semi-expd/ */

body
{

}

.head_position
{
	position: relative;
	width: 100%;
	height: 38px;
	top: 30px;
	background-color: rgb(240,233,182);
}

#page
{
	width: 100%;
	background-color: rgb(240,233,182);
}

#main
{
	position: relative;
	background-color: rgb(240,233,182);
	min-height: 1024px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}


.clearfix
{
	clear: both;
}




.statboxes
{
	margin-top: 25px;
	margin-left: 15px;
	width: 320px;
	float:left;
}


.statbox
{
	display: inline-block;
	
	width: 266px;
	
	padding: 25px;

	margin-top: 15px;
	margin-bottom: 0px !important;


	
	
	border: solid 4px white;
	border-radius: 5px;

	background-color: rgb(174, 4, 14);
	color: white;
	
	line-height: 32px;
	
	font-size: 18px;
	
	float: left;

    overflow: hidden;
}


.chart
{
	width: 100%;
	height: 450px;
}

.chart_half
{
	width: 50%;
	height: 350px;
}

.floated
{
	float: left;
}

#games_chart
{
	position: relative;

}




table
{
	width: 100%;
	border: 0;
	border-spacing: 0;
}

.tablesorter th
{
	cursor: pointer;
}

table th, table td
{
	height: 25px;
	border-bottom: solid 1px #afafaf;
}

table tr td a
{
	text-decoration: none;
	color: black;
}

table tr:hover
{
	background-color: #929570;
	background-color: #c1c19d;
}


.col2
{
    margin-top: 25px;
    width: 50%;
    float: left;
}



/* ------------- FONTS ---------------- */
.fH2
{
	font-size: 33px;
}


