html
{
	font-family: 'Helvetica';
	font-size: 14px;
}

p
{
	font-family: 'Helvetica';
	font-size: 14px;
}

div.feed
{
	display: none;
	opacity: 0;
	
	width: 900px;
	min-height: 17px;
	margin-top: 3px;
	
	
	border: solid 1px #cdcdcd;
	
	padding: 5px;
}

.clearfix
{
	clear: both;
}

.icon
{
	width: 17px;
	height: 17px;
	float: left;
}

div.msg
{
	font-family: 'Helvetica';
	font-size: 14px;

	margin-left: 18px;
	float: left;
	
	width: 90%;
}

.red{
    color: red;
}

.orange{
    color: orange;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.fuxia{
    color: fuxia;
}

.brown{
    color: brown;
}

.slategray
{
    color: slategray;
}

.lightgray
{
    color: #999;
}








.roundtable tr
{
    height: 27px;
}





.join
{

	background: #78FE17; /* Old browsers */
	background: -moz-linear-gradient(left,  #78FE17 0%, #ffffff 38%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#78FE17), color-stop(38%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #78FE17 0%,#ffffff 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #78FE17 0%,#ffffff 38%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #78FE17 0%,#ffffff 38%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #78FE17 0%,#ffffff 38%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78FE17', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.joinTeam
{
	background: #50FE17; /* Old browsers */
	background: -moz-linear-gradient(left,  #50FE17 0%, #ffffff 38%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#50FE17), color-stop(38%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #50FE17 0%,#ffffff 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #50FE17 0%,#ffffff 38%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #50FE17 0%,#ffffff 38%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #50FE17 0%,#ffffff 38%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50FE17', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.launch
{
	background: #3CFE17; /* Old browsers */
	background: -moz-linear-gradient(left,  #3CFE17 0%, #ffffff 38%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3CFE17), color-stop(38%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #3CFE17 0%,#ffffff 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #3CFE17 0%,#ffffff 38%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #3CFE17 0%,#ffffff 38%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #3CFE17 0%,#ffffff 38%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3CFE17', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.kill
{
	background: #F03E03; /* Old browsers */
	background: -moz-linear-gradient(left,  #F03E03 0%, #ffffff 38%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F03E03), color-stop(38%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #F03E03 0%,#ffffff 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #F03E03 0%,#ffffff 38%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #F03E03 0%,#ffffff 38%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #F03E03 0%,#ffffff 38%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F03E03', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.damage
{
	background: #DEDE17; /* Old browsers */
	background: -moz-linear-gradient(left,  #DEDE17 0%, #ffffff 38%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#DEDE17), color-stop(38%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #DEDE17 0%,#ffffff 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #DEDE17 0%,#ffffff 38%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #DEDE17 0%,#ffffff 38%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #DEDE17 0%,#ffffff 38%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEDE17', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.action
{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e5799 0%, #ffffff 38%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(38%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1e5799 0%,#ffffff 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1e5799 0%,#ffffff 38%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1e5799 0%,#ffffff 38%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #1e5799 0%,#ffffff 38%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.flag
{	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f9aed+0,ffffff+38,ffffff+100 */
	background: #2f9aed; /* Old browsers */
	background: -moz-linear-gradient(left,  #2f9aed 0%, #ffffff 38%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2f9aed), color-stop(38%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #2f9aed 0%,#ffffff 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #2f9aed 0%,#ffffff 38%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #2f9aed 0%,#ffffff 38%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #2f9aed 0%,#ffffff 38%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f9aed', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.weapon
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1a526+0,ffffff+38,ffffff+100 */
	background: #c1a526; /* Old browsers */
	background: -moz-linear-gradient(left,  #c1a526 0%, #ffffff 38%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c1a526), color-stop(38%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #c1a526 0%,#ffffff 38%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #c1a526 0%,#ffffff 38%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #c1a526 0%,#ffffff 38%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right,  #c1a526 0%,#ffffff 38%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a526', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

nav
{
	width: 100%;
	min-height: 30px;	
}

nav a
{
	position: relative;
	display: block;
	margin-right: 10px;
	height: 30px;
	
	float: left;
}




/********** CSS BODY *************/

.clearfix
{
	clear: both;
}

.body
{
	border: solid 1px black;
	background-color: white;
	width: 125px;
}

.head
{
	position: relative;
	border: solid 1px black;
	width: 50px;
	height: 50px;
	margin-left: 30px;
	background-color: red;
}	

.neck
{
	position: relative;
	border: solid 1px black;
	width: 25px;
	height: 15px;
	
	margin-left: 41px;
	background-color: red;
}

.torso
{
	position: relative;
		border: solid 1px black; 
	width: 85px;
	height: 140px;
	float: left;
}

.torso_upper
{
	position: relative;
/* 			border: solid 1px black; */
	width: 85px;
	height: 70px;
	background-color: red;
}

.torso_lower
{
	position: relative;
/* 			border: solid 1px black; */
	width: 85px;
	height: 70px;
	float: left;
	background-color: red;
}

.left_arm, .right_arm
{
	position: relative;
		border: solid 1px black; 
	width: 15px;
	height: 130px;
	float: left;
}

.left_arm_upper, .right_arm_upper
{
	position: relative;
/* 			border: solid 1px black; */
	width: 15px;
	height: 60px;
	background-color: red;
}


.left_arm_lower, .right_arm_lower
{
	position: relative;
/* 			border: solid 1px black; */
	width: 15px;
	height: 60px;
	background-color: red;
}

.left_hand, .right_hand
{
	position: relative;
/* 			border: solid 1px black; */
	width: 15px;
	height: 10px;
}

.left_leg, .right_leg
{
	position: relative;
		border: solid 1px black; 
	width: 15px;
	height: 150px;
	float: left;
	margin-left: 20px;
}

.right_leg
{
	position: relative;
	margin-left: 50px;
}

.left_leg_upper, .right_leg_upper
{
	position: relative;
	border: solid 1px black;
	width: 15px;
	height: 70px;
	background-color: red;
}

.left_leg_lower, .right_leg_lower
{
	position: relative;
	border: solid 1px black;
	width: 15px;
	height: 70px;
	background-color: red;
}

.left_foot, .right_foot
{
	position: relative;
	border: solid 1px black;
	width: 15px;
	height: 10px;
	background-color: red;
}
